# Folders
csv/
zip/
.vscode/

# Environment Variables
.env
.env.example
.env.staging

# Ignore Files
.dockerignore
.gitignore

# Docker Related Files
docker-compose.yml
Dockerfile

# Documentations
LICENSE
README.md

# Git Related
**/.git

# Python Related
**/*.pyc
wheels/
__pycache__/

# Pipenv Related
Pipfile
Pipfile.lock

# Other Files
.markdownlint.json
