# Folders
/csv
/custom
/ds3
/zip

# Environment Variables
.env
.env.example

# Ignore Files
.dockerignore
.gitignore

# Docker Related Files
docker-compose.yml
Dockerfile

# Documentations
LICENSE
README.md