# Folders
/csv
/custom
/ds3-env
/zip
/.vscode

# Environment Variables
.env
.env.example

# Ignore Files
.dockerignore
.gitignore

# Docker Related Files
docker-compose.yml
Dockerfile

# Documentations
LICENSE
README.md

# Git Related
**/.git

# Python Related
**/*.pyc