[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = {file = "https://raw.githubusercontent.com/theDS3/Datathon-Scoreboard/main/wheels/kaggle-1.6.5-py3-none-any.whl"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pandas = "*"
pymongo = "*"

[dev-packages]
tabulate = "*"
pyarrow = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

[scripts]
dev = "uvicorn src.main:app --reload --host 0.0.0.0 --port 8000"
start = "uvicorn src.main:app --host 0.0.0.0 --port 8000"
