annotated-types==0.6.0
anyio==4.2.0
bleach==6.1.0
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudevents==1.10.1
deprecation==2.1.0
dnspython==2.4.2
exceptiongroup==1.2.0
fastapi==0.108.0
gunicorn==21.2.0
h11==0.14.0
httptools==0.6.1
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.2
kaggle @ https://raw.githubusercontent.com/theDS3/Datathon-Scoreboard/main/custom/kaggle-1.5.16-py3-none-any.whl#sha256=21f9dd33204e5614239d4d58ddf9c5b421b9b535335dc245fbe0cabeccff742d
MarkupSafe==2.1.3
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pydantic==2.5.3
pydantic_core==2.14.6
pymongo==4.6.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
starlette==0.32.0.post1
text-unidecode==1.3
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
uvicorn==0.25.0
uvloop==0.19.0
watchdog==3.0.0
watchfiles==0.21.0
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.1